@import './vars/variable';
.Input{
    padding: 5px 10px;
    outline: none;
    background: $based-color;
    border:1px solid $white-red;
    margin: 5px 0;
    color:$dark-red;
    border-radius: 5px;
}